{% extends 'layouts/index.html' %}

{% block content %}
    <head>
    <style>
        .card {
                margin-bottom: 20px;
                margin-top: 30px; /* Вы можете регулировать значение отступа по вашему усмотрению */
                background-color: #1b1b1b;
            }
        .card-container {
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .card-text {
            color: #ff8c00;
            font-family: Arial;
        }
    </style>
    </head>
    <div class="card-container">
        <h1>
            {% for post in posts %}
                <div class="card" style="width: 18rem;">
                  <img src="/media/{{ post.image }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h1 class="card-text">{{post.name}}</h1>
                      <a href="/posts/{{ post.id }}/" class="btn btn-primary" style="background-color:#000000; color: #FF8C00; border-color:#000000">Read</a>
                  </div>
                </div>
            {% endfor %}
        </h1>
    </div>

    <div>
    <h2>
        {% for page in pages %}
        <a href="?page={{ page }}" methods="get">{{ page }}</a>
        {% endfor %}
    </h2>
    </div>
{% endblock %}






