    .center {
        text-align: center;
        margin-top: 50px; /* Регулируйте отступ сверху по вашему желанию */
    }

    h1 {
        color: #333;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
    }


    input, textarea, select {
        background-color: transparent;
        border: 1px solid #ccc;
        padding: 8px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    button {
        background-color: #000; /* черный цвет фона */
        color: #ff8c00; /* оранжевый цвет текста */
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }